**

!config
!config/capsule
!config/capsule/**
!config/ftbquests
!config/ftbquests/**
!config/ProjectE
!config/ProjectE/**
!config/ars_nouveau-common.toml
!config/capsule-common.toml
!config/evilcraft-common.toml
!config/fml.toml
!config/modernfix-mixins.properties
!config/simplebackups-common.toml
!config/wizards_reborn-common.toml
!config/Mekanism
!config/Mekanism/general.toml

!defaultconfigs
!defaultconfigs/ftbchunks
!defaultconfigs/ftbchunks/ftbchunks-world.snbt
!defaultconfigs/fluxnetworks-server.toml

!hotai
!hotai/**

!kubejs
!kubejs/data
!kubejs/data/**
!kubejs/server_scripts
!kubejs/server_scripts/**
!kubejs/startup_scripts
!kubejs/startup_scripts/**
kubejs/startup_scripts/client
kubejs/startup_scripts/client/**
!kubejs/fuel_items.json
!kubejs/mana_infusion.json
!kubejs/nature_altar.json
!kubejs/planting.json

!ldlib
!ldlib/**

!_how to start and run the server.md
!_如何启动和运行服务器.md
!DeleteClientMods.bat
!DeleteClientMods.ps1
!DeleteClientMods.sh
!server.properties
!server-icon.png
!start.bat
!start.ps1
!start.sh
!variables.txt
!manifest.json
!modlist.html

!.gitignore
!README.md