config/jade
config/modpack-update-checker
config/ProjectE/client.toml
config/ars_nouveau-client.toml
config/botania-client.toml
config/embeddium++.toml
config/fluffy_fur-client.toml
config/invtweaks-client.toml
config/occultism-client.toml
config/patchouli-client.toml

defaultconfigs/ftbchunks/client-config.snbt
defaultconfigs/ftbquests/client-config.snbt

hotai

kubejs/startup_scripts/client